body {
    background-color: #edddd4;
}

.adminBTN {
    padding: 4px 9px;
    margin: 0px 3px 10px 3px;
}

.tableIMGContainer img{
    display: block;
    width: 130px;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.starGame {
    background-color: #ffc107;
}