html,
body {
  margin: 0;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

header {
  background-image: url(/assets/images/2656c73d60ff-lemon-pie-de-leche-condensada.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  position: sticky;
  top: 0;
  z-index: 0;
}

article {
  position: relative;
  z-index: 1;
  background: #edddd4;
  padding: 20px;}
  
  h1 {
      background-color: #c44536 ;
    margin-top: -100px;
    margin-left: -5px;
    margin-bottom: 20px;
    width: 100%;
    padding: 20px 20px 10px 20px;
    font-size: 40px;
    line-height: 40px;
    position: sticky;
    top: 0px;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(
      to top,
      rgba(black, 0.75),
      rgba(black, 0.6)
    );
    
    text-shadow: 3px 3px 10px rgba(rgb(36, 17, 17), 0.5);
  }
  .byline{
      font-size:14px ;
  }
  p {
    margin: 0 0 20px 0;
  }
  
  .ingredientes{
      padding: 10px 100px;
      margin: 10px;
      background-color:rgb(201, 188, 188);
      
  }

